:root { 
--gray_600:#858585; 
--gray_900_02:#2c2a2a; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a6a6a6; 
--indigo_50:#ededfa; 
--gray_900:#191a15; 
--gray_900_01:#1c1c1c; 
--black_900_3f:#0000003f; 
--red_100:#ffd5d5; 
--yellow_A400:#fee900; 
--black_900:#000000; 
--deep_orange_300:#fe8162; 
--deep_purple_A200:#8247ff; 
--white_A700:#ffffff; 
}